.start-menu-button {
  display: flex;
  color: black;
  flex-direction: row;
  text-align: center;
  height: 90%;
  width: 90%;
  font-size: 3em;
  margin: 0;
  transition: all 0.5s ease; /* Add smooth transition */
}

.start-menu-button:hover {
  height: 90%;
  width: 100%;
}

.block-field {
  height: 100%;
  width: 90%;
  background: rgb(220, 220, 0);
}

.cutted-corner {
  height: 100%;
  width: 10%;
  background: rgb(220, 220, 0);
  clip-path: polygon(0% 0%, 100% 0, 0 100%);
  transition: all 0.5s ease; /* Add smooth transition */
}
