.tictactoe {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.cell {
  user-select: none;
  width: 100%;
  height: 100%;

  font-size: 5em;
}
.ui-blocker {
  background-color: rgba(31, 31, 31, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.panel {
  height: 30%;
  width: 100%;
  margin: 40% 0;
}

.panel h1 {
  height: 30%;

  animation: text-pulse 2s infinite;
  overflow: hidden;

  background-image: url("https://media.tenor.com/3pL_kqyFLMsAAAAC/rainbow-roygbiv.gif");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

@keyframes text-pulse {
  0% {
    font-size: 2.125rem; /*std h1 tag*/
  }
  50% {
    font-size: 4rem;
  }
  100% {
    font-size: 2.125rem;
  }
}

.game-end-button {
  height: 100%;
  width: 50%;
}
.game-buttons {
  display: flex;
  gap: 2%;
  width: 90%;
  margin: 5%;
  height: auto;
}
