.tictactoe {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.cell {
  user-select: none;
  width: 100%;
  height: 100%;

  font-size: 5em;
}
.ui-blocker {
  background-color: rgba(31, 31, 31, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.panel {
  height: 30%;
  width: 100%;
  margin: 40% 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.game-end-button {
  height: 100%;
  width: 50%;
}
.game-buttons {
  display: flex;
  gap: 2%;
  width: 90%;
  margin: 5%;
  height: auto;
}
